.what_choose {
  .form-title::after {
    content: '';
    position: absolute;
    right: -3px;
    bottom: 0;
    height: 24px;
    width: 24px;

    background-image: url('../images/whatChoose/arrow.svg');
    background-repeat: no-repeat;
    background-size: cover;

    @include mq(tablet) {
      height: 34px;
      width: 24px;
      right: -20px;
      bottom: -34px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    .form-wrapper {
      gap: 10px;
    }
    label {
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.38);
      margin-bottom: 2px;
    }
    input {
      padding-left: 20px;
      height: 50px;
      border-radius: 30px;
    }
  }
  button {
    margin: 0 auto;
    margin-top: 22px;
  }
}
